<div
  class="surface-ground p-8 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      class="w-full surface-card py-8 px-5 sm:px-8"
      style="border-radius: 53px"
    >
      <h1 class="title">Recuperação de senha</h1>
      <span
        >Informe seu email de cadastro para receber as instruções para mudar sua
        senha</span
      >

      <form
        [formGroup]="emailForm"
        (ngSubmit)="recoverPassword(emailForm.value.email)"
      >
        <label for="username" class="block text-900 text-xl font-medium mb-2"
          >Email</label
        >
        <input
          pInputText
          style="padding: 1rem"
          class="w-full md:w-30rem mb-5"
          formControlName="email"
        />

        <div class="button-column">
          <button
            mat-raised-button
            color="primary"
            style="margin-bottom: 10px"
            type="submit"
          >
            Recuperar minha senha
          </button>
          <button mat-button (click)="onRecover()" class="link">Voltar</button>
        </div>

        <p class="error">{{ error }}</p>
      </form>
    </div>
  </div>
</div>
