
<div class="surface-ground px-2 md:px-2 lg:px-4">
  <div class="grid my-2" *ngIf="product">
    <div class="col-fixed" style="width:200px"></div>
    <div class="col-5">
      <div class="flex mt-5">
        <p-image [src]="product.image" alt="Imagem do produto {{ product.name }}" width="500" [preview]="true"></p-image>
      </div>
    </div>

    <div class="col-5 mt-5">
      <div class="flex align-items-center line-height-2 text-3xl font-medium text-700 font-bold mb-2">{{ product.name }}
      <i class="pi text-2xl px-4 cursor-pointer"
            [ngClass]="{'pi-heart text-600': !isFavorite(), 'pi-heart-fill text-orange-500': isFavorite()}"
            (click)="toggleFavorite()">
          </i>
        </div>
      <div class="flex align-items-center">
        <span class="mr-3">
          <p-rating [(ngModel)]="product.rating" [cancel]="false" [disabled]="true"></p-rating>
        </span>
        <span class="text-sm"><b class="text-200 mr-1">24</b> <span class="text-500"></span>avaliações</span>
      </div>
      <div class="mt-2"><span class="text-500" >sku:{{ product.sku }}</span></div>
      <div class="flex align-items-center justify-content-between mt-5 mb-3">
        <span class="text-900 font-medium text-4xl block text-red-500">{{ product.unitPrice | currencyFormat }}</span>
      </div>

      <div *ngIf="product.details">
      <div class="font-medium text-800 mb-3">Selecione o sabor: </div>
      <div class="text-center border-1 text-800 p-2 border-round w-auto">{{ product.details.flavors }}</div>
      <div class="font-normal text-600 my-3">Contém Glúten? {{ product.details.gluten | boolean }}</div>
      <div class="font-normal text-600 mb-3">Contém Lactose? {{ product.details.lactose | boolean }}</div>
      <div class="font-normal text-600 mb-3">É Vegano? {{ product.details.vegan | boolean }}</div>
      </div>
      <p-divider></p-divider>
                <div class="flex align-items-center mb-5">
                    <i class="pi pi-question-circle text-600 mr-3"></i>
                    <span class="mr-3 text-800">Precisa de ajuda com o produto?</span>
                    <a tabindex="0" class="text-900 font-medium inline-flex align-items-center text-blue-500 hover:text-primary cursor-pointer transition-colors transition-duration-150">Consulte o guia <i class="ml-1 pi pi-angle-right"></i></a>
                </div>

        <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
          <button pButton pRipple (click)="addToCart()" icon="pi pi-shopping-cart" label="Comprar" class="w-20rem"></button>
        </div>

      <div class="font-bold text-500 my-5">
        <span>Informe o cep para simular o prazo de entrega.</span>
        <div class="mt-3">
        <p-inputNumber placeholder="______-___" class="mr-3"/>
        <button pButton pRipple  label="Calcular" class="w-9rem" style="margin-right: 40px;"></button>
      </div>
      </div>
    </div>
  </div>



<p-tabView>

  <p-tabPanel header="Detalhes do Produto">
    <p class="line-height-3 text-700 p-0 mx-0 mt-0 mb-4">{{product.description}}</p>
  </p-tabPanel>

  <p-tabPanel header="Avaliações">
      <div class="grid mt-4">
          <div class="col-12 lg:col-4">
              <div class="font-medium text-xl text-900 mb-3">Conte sua experiência</div>
              <p class="text-600 p-0 mt-0 mb-3 line-height-3"> "Sua opinião é muito importante para nós! Clique no botão 'Quero Avaliar' e deixe seu comentário. Sua avaliação nos ajuda a melhorar sempre!"</p>
              <button pButton pRipple label="QUERO AVALIAR" class="p-button-rounded"></button>
          </div>
          <div class="col-12 lg:col-4 flex align-items-start justify-content-center py-5 lg:py-0">
              <div>
                  <span class="text-5xl text-900 font-bold mr-2">190</span>
                  <span class="text-5xl text-600">avaliações</span>
                  <div class="mt-3 text-center">
                      <i class="pi pi-star-fill text-yellow-500 text-2xl mr-1"></i>
                      <i class="pi pi-star-fill text-yellow-500 text-2xl mr-1"></i>
                      <i class="pi pi-star-fill text-yellow-500 text-2xl mr-1"></i>
                      <i class="pi pi-star-fill text-yellow-500 text-2xl mr-1"></i>
                      <i class="pi pi-star-fill text-300 text-2xl "></i>
                  </div>
              </div>
          </div>
          <div class="col-12 lg:col-4">
              <ul class="list-none p-0 m-0">
                  <li class="flex align-items-center mb-2">
                      <span class="text-900 font-medium mr-1 w-1rem">5</span>
                      <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                      <div style="height:7px" class="border-round overflow-hidden flex-auto surface-300">
                          <div class="h-full bg-yellow-500 w-9 border-round"></div>
                      </div>
                      <span class="text-500 font-medium ml-2">75%</span>
                  </li>
                  <li class="flex align-items-center mb-2">
                      <span class="text-900 font-medium mr-1 w-1rem">4</span>
                      <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                      <div style="height:7px" class="border-round overflow-hidden flex-auto surface-300">
                          <div class="h-full bg-yellow-500 w-6 border-round"></div>
                      </div>
                      <span class="text-500 font-medium ml-2">50%</span>
                  </li>
                  <li class="flex align-items-center mb-2">
                      <span class="text-900 font-medium mr-1 w-1rem">3</span>
                      <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                      <div style="height:7px" class="border-round overflow-hidden flex-auto surface-300">
                          <div class="h-full bg-yellow-500 w-2 border-round"></div>
                      </div>
                      <span class="text-500 font-medium ml-2">20%</span>
                  </li>
                  <li class="flex align-items-center mb-2">
                      <span class="text-900 font-medium mr-1 w-1rem">2</span>
                      <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                      <div style="height:7px" class="border-round overflow-hidden flex-auto surface-300">
                          <div class="h-full bg-yellow-500 w-4 border-round"></div>
                      </div>
                      <span class="text-500 font-medium ml-2">40%</span>
                  </li>
                  <li class="flex align-items-center mb-2">
                      <span class="text-900 font-medium mr-1 w-1rem">1</span>
                      <i class="pi pi-star-fill text-yellow-500 mr-2"></i>
                      <div style="height:7px" class="border-round overflow-hidden flex-auto surface-300">
                          <div class="h-full bg-yellow-500 w-3 border-round"></div>
                      </div>
                      <span class="text-500 font-medium ml-2">30%</span>
                  </li>
              </ul>
          </div>
      </div>

  </p-tabPanel>
  <p-tabPanel header="Comentários">
      <ul  class="list-none p-0 m-0">
          <li *ngFor="let review of reviews" class="pb-5 border-bottom-1 surface-border">
            <span>
              <i *ngFor="let star of getStars(review.rating)" class="pi" [ngClass]="{'pi-star-fill': star, 'pi-star': !star, 'text-yellow-500': star, 'text-gray-500': !star}"></i>
            </span>
              <div class="text-900 font-medium text-xl my-3">{{review.user.firstname}}</div>
              <p class="mx-0 mt-0 mb-3 text-700 line-height-3">{{review.comment}}</p>
          </li>
      </ul>
  </p-tabPanel>

</p-tabView>
</div>
