<div
  class="surface-ground p-8 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      class="w-full surface-card py-8 px-5 sm:px-8"
      style="border-radius: 53px"
    >
      <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Informe sua nova senha</div>
      </div>

      <form [formGroup]="passForm" (ngSubmit)="saveNewPassword()">

        <!--INPUT NEW PASSWORD-->
        <label for="password" class="block text-900 font-medium text-xl mb-2"
          >Senha</label
        >
        <p-password
          formControlName="password"
          id="password"
          placeholder="Senha"
          [toggleMask]="true"
          styleClass="mb-5"
          inputStyleClass="w-full p-3 md:w-30rem"
        ></p-password>

        <!--CONFIRMATION PASSWORD-->
        <label for="password" class="block text-900 font-medium text-xl mb-2"
          >Confirmar senha</label
        >
        <p-password
          formControlName="password"
          id="password"
          placeholder="Senha"
          [toggleMask]="true"
          styleClass="mb-5"
          inputStyleClass="w-full p-3 md:w-30rem"
        ></p-password>

        <button
          pButton
          pRipple
          label="Entrar"
          class="w-full p-3 text-xl"
        ></button>
      </form>
    </div>
  </div>
</div>
