<ng-container *ngFor="let address of adresses$ | async">
  <div class="p-col-12 p-md-6 p-lg-4">
    <p-card>
      <div class="border-1 border-500 border-round w-3 px-3 py-3">
        <h4>CEP: {{ address.cep }}</h4>
        <p>{{ address.logradouro }} - {{ address.complemento }}</p>
        <p>{{ address.bairro }}</p>
        <p>{{ address.localidade }} - {{ address.uf }}</p>

        <div class="flex justify-content-end mt-3">
          <p-button
          label="Excluir"
          icon="pi pi-trash"
          styleClass="p-button-danger"
          (click)="confirmDelete(address.id)"
        />
        </div>

      </div>
    </p-card>
  </div>
</ng-container>

<p-button

  label="Adicionar Endereço"
  icon="pi pi-plus"
  styleClass="mt-4"
  (click)="openAddAddressDialog()"
></p-button>

<p-dialog header="Adicionar Endereço" [(visible)]="showAddAddressDialog">
  <app-address-form></app-address-form>
</p-dialog>
