<div class="h-auto bg-no-repeat bg-cover bg-center flex align-items-center">
  <img src=".../../../assets/images/banner-principal.jpg" alt="Banner-principal" class="p-responsive-image">
</div>

<div class="banner-container">
  <div class="slide-animation">
    <img src="../../../assets/images/TEXT_BANNER.png" alt="Banner" class="p-responsive-image">
    <img src="../../../assets/images/TEXT_BANNER.png" alt="Banner" class="p-responsive-image">
  </div>
</div>

<!--KITS------------------------------------------------->
<div class="flex justify-content-center">
  <div class="card h-full">
    <p-carousel [value]="bestSellers" [numVisible]="4" [numScroll]="4" [showIndicators]="false" [circular]="false"
      [responsiveOptions]="responsiveOptions">
      <ng-template let-product pTemplate="item">
        <div class="border-round m-2 text-center py-2 px-2">
          <div class="mb-3" style="background-color: #FFD62D;">
            <img [src]="product.image" alt="product_image" class="w-6" [routerLink]="['/products', product.id]" />
          </div>
          <div style="background-color: #FFD62D;">
            <h4 class="mb-1 text-900" style="height: 40px;">{{ product.name }}</h4>
            <h3 class=" text-gray-600 mt-0 mb-3">{{product.unitPrice | currencyFormat}}</h3>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div class="flex justify-content-center align-items-center flex-wrap banner-container">
  <img class="m-0 banner-image" src="../../../assets/images/banner-vertical-2.png" alt="Banner">
  <div class="banner-text">
    <h2 class="uppercase text-900 w-full">
      Desempenho para atletas de elite até entusiastas apaixonados - nosso suplemento é para todos!
    </h2>
  </div>
</div>

<!--TABS CATEGORY----------------------------------------->
<div class="responsive-list">
  <ul class="bg-gray-500 shadow-7 p-2 m-0 list-none flex overflow-x-auto select-none">
    <li class="pr-3">
      <a pRipple
        class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
        [ngClass]="{'bg-primary hover:bg-primary': active4 === 0, 'text-700': active4 !== 0}" (click)="active4 = 0">
        <i class="pi pi-home mr-2"></i>
        <span class="font-medium">MAIS VENDIDOS</span>
      </a>
    </li>
    <li class="flex align-items-center">
      <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
    </li>
    <li class="px-3">
      <a pRipple
        class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
        [ngClass]="{'bg-primary hover:bg-primary': active4 === 1, 'text-700': active4 !== 2}" (click)="active4 = 1">
        <i class="pi pi-users mr-2"></i>
        <span class="font-medium">LANÇAMENTOS</span>
      </a>
    </li>
    <li class="flex align-items-center">
      <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
    </li>
    <li class="px-3">
      <a pRipple
        class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
        [ngClass]="{'bg-primary hover:bg-primary': active4 === 2, 'text-700': active4 !== 2}" (click)="active4 = 2">
        <i class="pi pi-shopping-cart mr-2"></i>
        <span class="font-medium">EM DESTAQUE</span>
      </a>
    </li>
    <li class="flex align-items-center">
      <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
    </li>
    <li class="px-3">
      <a pRipple
        class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
        [ngClass]="{'bg-primary hover:bg-primary': active4 === 3, 'text-700': active4 !== 3}" (click)="active4 = 3">
        <i class="pi pi-user mr-2"></i>
        <span class="font-medium">LIQUIDAÇÃO</span>
      </a>
    </li>
    <li class="flex align-items-center">
      <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
    </li>
  </ul>
</div>


<div class="grid">
  <div class="col-12 md:col-6 lg:col-6">

    <!--BEST SELLERS------------------------------------------>
      <div class="m-2" *ngIf="active4 === 0">
        <div class="flex justify-content-center py-2">
          <div class="grid">
            <div *ngFor="let product of bestSellers.slice(0,6)" class="w-3 m-4 text-center">
                <img [src]="product.image" alt="product_image" class="w-5 mb-3" [routerLink]="['/products', product.id]" />
                <h4 class="mb-1 font-medium">{{ product.name }}</h4>
                <h3 class="text-gray-600 mt-0 mb-3">{{product.unitPrice | currencyFormat}}</h3>
            </div>
          </div>
        </div>
      </div>

    <!--LANÇAMENTOS----------------------------------->
      <div class="m-2" *ngIf="active4 === 1">
        <div class="flex justify-content-center py-2">
          <div class="grid">
            <div *ngFor="let product of mostRecents.slice(0,6)" class="w-3 m-4 text-center">
                <img [src]="product.image" alt="product_image" class="w-5 mb-3" [routerLink]="['/products', product.id]" />
                <h4 class="mb-1 font-medium">{{ product.name }}</h4>
                <h3 class="text-gray-600 mt-0 mb-3">{{product.unitPrice | currencyFormat}}</h3>
            </div>
          </div>
        </div>
      </div>



    <!--FEATURED-------------------------------------->
      <div class="m-2" *ngIf="active4 === 2">
        <div class="flex justify-content-center py-2">
          <div class="grid">
            <div *ngFor="let product of feature.slice(0,6)" class="w-3 m-4 text-center">
                <img [src]="product.image" alt="product_image" class="w-5 mb-3" [routerLink]="['/products', product.id]" />
                <h4 class="mb-1 font-medium">{{ product.name }}</h4>
                <h3 class="text-gray-600 mt-0 mb-3">{{product.unitPrice | currencyFormat}}</h3>
            </div>
          </div>
        </div>
      </div>

    <!--SALES------------------------------>
      <div class="m-2" *ngIf="active4 === 3">
        <div class="flex justify-content-center py-2">
          <div class="grid">
            <div *ngFor="let product of sale.slice(0,6)" class="w-3 m-4 text-center">
                <img [src]="product.image" alt="product_image" class="w-5 mb-3" [routerLink]="['/products', product.id]" />
                <h4 class="mb-1 font-medium">{{ product.name }}</h4>
                <h3 class="text-gray-600 mt-0 mb-3">{{product.unitPrice | currencyFormat}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!--BANNERS----------------------------->
  <div class="col-12 md:col-6 lg:col-6">
    <div class="flex justify-content-end">
      <ul class="list-none py-2 m-4">
        <li>
          <img class="py-2" src="../../../assets/images/banner-3.jpg" alt="image_description" />
        </li>
        <li>
          <img class="py-2" src="../../../assets/images/banner-4.png" alt="image_description" />
        </li>
      </ul>
    </div>
  </div>
</div>


<!--COLUMN OBJECTIVES-------------------------->
<div class="py-2 md:px-6 lg:px-8">
  <div class="py-3 text-3xl flex justify-content-center font-bold">
    <h3 class="mb-3 text-300 text-2xl text-center">Qual o seu objetivo?</h3>
  </div>

  <div class="grid px-8">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="flex flex-column justify-content-between shadow-4 border-round bg-no-repeat bg-cover bg-center
        transition-colors transition-duration-1000 image-container" style="background: linear-gradient(0deg, rgba(224, 203, 7, 0.445), rgba(26, 27, 29, 0.603)),
          url(../../../assets/images/bem-estar.jpg); height: 400px; width: 220px;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Bem Estar</div>
        </div>
        <div class="p-4 align-self-end">
          <a tabindex="0"
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre
            Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="flex flex-column justify-content-between shadow-4 border-round bg-no-repeat bg-cover bg-center
        transition-colors transition-duration-1000 image-container" style="background: linear-gradient(0deg, rgba(224, 203, 7, 0.445), rgba(26, 27, 29, 0.603)),
          url(../../../assets/images/mass-muscular.jpg); height: 400px; width: 220px;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Massa Muscular</div>
        </div>
        <div class="p-4 align-self-end">
          <a tabindex="0"
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre
            Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="flex flex-column justify-content-between shadow-4 border-round bg-no-repeat bg-cover bg-center
      transition-colors transition-duration-1000 image-container" style="background: linear-gradient(0deg, rgba(224, 203, 7, 0.445), rgba(26, 27, 29, 0.603)),
      url(../../../assets/images/max-desempenho.jpg); height: 400px; width: 220px;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Desempenho</div>
        </div>
        <div class="p-4 align-self-end">
          <a tabindex="0"
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre
            Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
      <div class="flex flex-column justify-content-between shadow-4 border-round bg-no-repeat bg-cover bg-center
    transition-colors transition-duration-1000 image-container" style="background: linear-gradient(0deg, rgba(224, 203, 7, 0.445), rgba(26, 27, 29, 0.603)),
    url(../../../assets/images/perder_peso.jpg); height: 400px; width: 220px;">
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Perder Peso</div>
        </div>
        <div class="p-4 align-self-end">
          <a tabindex="0"
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150">Compre
            Já!<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--CATEGORY PREVIEW-------------------------------------------->
<div class="gap-3 px-4 py-4 md:px-6 lg:px-8">
  <div class="py-5 text-3xl flex justify-content-center font-bold">
    <h3 class="mb-3 text-300 text-2xl text-center">Por Categoria</h3>
  </div>
  <div class="flex justify-content-evenly flex-wrap grid ml-8 mr-8">
    <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column align-items-center mx-auto lg:mx-0 mb-3 md:mb-0">
      <img class="w-7 h-7" src="../../../assets/images/image_category/categoria_proteina.gif" alt="avatar">
      <span class="text-white text-xl font-medium mt-3">Proteínas</span>
    </div>
    <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column align-items-center mx-auto lg:mx-0 mb-3 md:mb-0">
      <img class="w-7 h-7" src="../../../assets/images/image_category/categoria_pretreino.gif" alt="avatar">
      <span class="text-white text-xl font-medium mt-3">Pré-treino</span>
    </div>
    <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column align-items-center mx-auto lg:mx-0 mb-3 md:mb-0">
      <img class="w-7 h-7" src="../../../assets/images/image_category/categoria_creatina.gif" alt="avatar">
      <span class="text-white text-xl font-medium mt-3">Creatinas</span>
    </div>
    <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column align-items-center mx-auto lg:mx-0 mb-3 md:mb-0">
      <img class="w-7 h-7" src="../../../assets/images/image_category/categoria_acessorios.gif" alt="avatar">
      <span class="text-white text-xl font-medium mt-3">Acessórios</span>
    </div>
    <div class="xs:col-12 sm:col-6 md:col-4 xl:col-2 flex flex-column align-items-center mx-auto lg:mx-0 mb-3 md:mb-0">
      <img class="w-7 h-7" src="../../../assets/images/image_category/categoria_bem_estar.gif" alt="avatar">
      <span class="text-white text-xl font-medium mt-3">Hipercalóricos</span>
    </div>
  </div>
</div>

<!--BRANDS----------------------------------->
<section class="gap-3 px-4 py-4 md:px-6 lg:px-8 mb-4">
  <div class="py-5 text-3xl flex justify-content-center font-bold">
    <h3 class="mb-3 text-2xl text-300 text-center">Melhores Marcas</h3>
  </div>
  <div class="flex justify-content-evenly flex-wrap">
    <img class="w-2 h-full" src="../../../assets/images/brands/blackskull.gif" alt="blackskull">
    <img class="w-2 h-full" src="../../../assets/images/brands/integral_medica.gif" alt="integral medica">
    <img class="w-2 h-full" src="../../../assets/images/brands/max-titanium.gif" alt="Max Titanium">
    <img class="w-2 h-full" src="../../../assets/images/brands/naturovos.gif" alt="Naturovos">
    <img class="w-2 h-full" src="../../../assets/images/brands/vitafor.gif" alt="Vitafor">
  </div>
</section>
