<div class="min-h-screen flex relative lg:static surface-ground">
  <div id="app-sidebar-1" class="surface-section h-screen hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none" style="width:280px">
      <div class="flex flex-column h-full">
          <div class="overflow-y-auto">
              <ul class="list-none p-3 m-0">
                  <li>
                      <ul class="list-none py-6 m-0 overflow-hidden">
                          <li>
                              <a pRipple routerLink="/account/profile" class="no-underline flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                                  <i class="pi pi-home mr-2"></i>
                                  <span class="font-medium">Dados Pessoais</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple routerLink="/account/address" class="no-underline flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                                  <i class="pi pi-bookmark mr-2"></i>
                                  <span class="font-medium">Endereços</span>
                              </a>
                          </li>
                         <li>
                              <a pRipple routerLink="/account/order-history" class="no-underline flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                                  <i class="pi pi-users mr-2"></i>
                                  <span class="font-medium">Pedidos</span>
                              </a>
                          </li>
                          <li>
                            <a pRipple  routerLink="/account/favorites" class="no-underline flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                                <i class="pi pi-users mr-2"></i>
                                <span class="font-medium">Favoritos</span>
                            </a>
                        </li>
                          <li>
                              <a pRipple routerLink="/home" class="no-underline flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                                  <i class="pi pi-cog mr-2"></i>
                                  <span class="font-medium">Sair</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
              <ul class="list-none p-3 m-0">
            </ul>
          </div>
      </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">
      <div class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static" style="height:60px">
          <div class="flex">
              <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3" pStyleClass="#app-sidebar-1" enterClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden" leaveActiveClass="fadeoutleft">
                  <i class="pi pi-bars text-4xl"></i>
              </a>

            </div>
          <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" enterActiveClass="fadein" leaveToClass="hidden" leaveActiveClass="fadeout">
              <i class="pi pi-ellipsis-v text-2xl"></i>
          </a>
      </div>
      <div class="p-5 flex flex-column flex-auto">

        <div class="surface-section flex-auto">

        <router-outlet></router-outlet>

        </div>
      </div>
  </div>
</div>
