/* You can add global styles to this file, and also import other style files */
//@import "primeng/resources/themes/saga-green/theme.css";
@import 'primeng/resources/themes/lara-light-indigo/theme.css';
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "primeflex/primeflex.scss";
@import "quill/dist/quill.snow.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  margin: 0;
  max-width: 100%;
}

body {
  font-family: 'Roboto', 'Urbanist', Helvetica, sans-serif;
  font-size: 16px;
  color: #ebebeb; /* Cor do texto */
  background: linear-gradient(to bottom, #000000, #292929); /* Gradiente de fundo */
  background-attachment: fixed; /* O fundo permanece fixo enquanto a página rola */
  background-repeat: no-repeat;
  }

  .container {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }


  @media (min-width: 576px) {
    .container {
        width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
        width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
        width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

  }
