/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/saga-green/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "primeflex/primeflex.scss";
@import "quill/dist/quill.snow.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

//@import 'assets/theme.css';

* {
  margin: 0;
}

body {
  font-family: "Urbanist", Helvetica, sans-serif;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
}
