  <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
      <div class="grid">
          <div class="col-12 md:col-6">
              <div class="p-fluid pr-0 md:pr-6">
                  <div class="field">
                      <label for="name" class="text-800 font-medium">Nome*</label>
                      <input id="name" type="text" pInputText class="py-3 px-2 text-lg">
                  </div>
                  <div class="field">
                      <label for="email" class="text-800 font-medium">E-mail*</label>
                      <input id="email" type="text" pInputText class="py-3 px-2 text-lg">
                  </div>
                  <div class="field">
                      <label for="company" class="text-800 font-medium">Telefone</label>
                      <input id="company" type="text" pInputText class="py-3 px-2 text-lg">
                  </div>
                  <div class="field">
                      <label for="message" class="text-800 font-medium">Mensagem*</label>
                      <textarea id="message" pInputTextarea rows="6" class="py-3 px-2 text-lg"></textarea>
                  </div>
                  <button pButton pRipple label="Enviar mensagem" icon="pi pi-send" class="w-auto"></button>
              </div>
          </div>
          <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom" style="background-image: url('assets/images/blocks/contact/contact-1.png')">
              <div class="text-900 text-2xl font-medium mb-6">Contato</div>
              <div class="text-700 line-height-3 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
              <a class="inline-flex align-items-center text-blue-600 font-bold no-underline cursor-pointer">
                  <span class="mr-3">Ver no Google Maps</span>
                  <i class="pi pi-arrow-right"></i>
              </a>
              <ul class="list-none p-0 m-0 mt-6 text-700">
                  <li class="flex align-items-center mb-3">
                      <i class="pi pi-phone mr-2"></i>
                      <span>+123456789</span>
                  </li>
                  <li class="flex align-items-center mb-3">
                      <i class="pi pi-twitter mr-2"></i>
                      <span>@prime_ng</span>
                  </li>
                  <li class="flex align-items-center">
                      <i class="pi pi-inbox mr-2"></i>
                      <span>contact@primetek.com.tr</span>
                  </li>
              </ul>
          </div>
      </div>
  </div>

