<div
  class="surface-ground p-8 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      class="w-full surface-card py-8 px-5 sm:px-8"
      style="border-radius: 53px"
    >
      <h1 class="title">Email enviado</h1>
      <h4>Enviamos um e-mail para:</h4>
      <h3>{{ email }}</h3>
      <span
        >Dentro de instantes, acesse seu e-mail e clique no link para redefinir
        sua senha.</span
      >
      <div class="button-column">
        <button mat-button class="link">Voltar</button>
      </div>
    </div>
  </div>
</div>
