<div style="background-color: #FFD62D;" class="px-4 md:px-6 lg:px-8">
  <div class="grid grid-nogutter flex-wrap -mr-3 -ml-3 text-center md:text-left">
      <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
          <span class="text-900 text-2xl font-bold block">Sobre</span>
          <ul class="list-none p-0">
              <li><a tabindex="0" routerLink="/about" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Sobre nós</a></li>
              <li><a tabindex="0" routerLink="/contact" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Contato</a></li>
              <li><a tabindex="0" routerLink="/jobApplication" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Trabalhe Conosco</a></li>
              <li><a tabindex="0" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Redes Sociais</a></li>
          </ul>
      </div>
      <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
          <span class="text-900 text-2xl font-bold block">Institucional</span>
          <ul class="list-none p-0">
              <li><a tabindex="0" routerLink="/contact" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Atendimento</a></li>
              <li><a tabindex="0" routerLink="/privacePolicy" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Política de Privacidade</a></li>
              <li><a tabindex="0" routerLink="/replacement" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Trocas e Devoluções</a></li>
              <li><a tabindex="0" routerLink="/shipping" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Regras de Frete</a></li>
              <li><a tabindex="0" routerLink="/howToBy" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Como Comprar</a></li>
          </ul>
      </div>
      <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border">
          <span class="text-900 text-2xl font-bold block">Selos</span>
          <ul class="list-none p-0">
              <li><a tabindex="0" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Selo 1</a></li>
              <li><a tabindex="0" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Selo 2</a></li>
              <li><a tabindex="0" class="text-600 hover:text-400 transition-duration-150 cursor-pointer mt-3 block">Selo 3</a></li>
          </ul>
      </div>
      <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 mb-4 lg:mb-0">
          <span class="text-900 text-2xl font-bold block">Fique por Dentro</span>
          <span class="text-500 block mt-4 line-height-3">Digite seu email abaixo e saiba mais sobre nossos novos lançamentos.</span>
          <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width:30rem;">
              <button type="button" pButton pRipple icon="pi pi-envelope" class="text-500 surface-100 surface-border"></button>
              <input type="text" pInputText placeholder="Email" class="border-y-1 text-500 border-x-none surface-border">
              <button type="button" pButton pRipple icon="pi pi-arrow-right" class="text-500 surface-100 surface-border"></button>
          </div>
      </div>
  </div>
</div>
<div class="bg-black px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
  <div class="col-fixed flex justify-content-center md:justify-content-start flex-wrap flex-order-1 lg:flex-order-0">
      <img src="assets/images/storefront/storefront-1-21.svg" class="w-3rem mb-3 md:mb-0 mr-3" alt="Amex">
      <img src="assets/images/storefront/storefront-1-22.svg" class="w-3rem mb-3 md:mb-0 mr-3" alt="Apple Pay">
      <img src="assets/images/storefront/storefront-1-23.svg" class="w-3rem mb-3 md:mb-0 mr-3" alt="Mastercard">
      <img src="assets/images/storefront/storefront-1-25.svg" class="w-3rem mb-3 md:mb-0 mr-3" alt="Visa">
      <img src="assets/images/storefront/storefront-1-24.svg" class="w-3rem  mb-3 md:mb-0" alt="PayPal">
  </div>
  <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
      <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer mr-3">
          <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
      <a tabindex="0" class="cursor-pointer">
          <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
      </a>
  </div>
</div>
